.wrapp {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	background-color: #404040;
	grid-gap: 1px;
	background-color: #292429;
}

.day {
	color: rgb(223, 221, 223);
	background-color: #2b282c;
	padding: 5px;
	min-width: 100px;
	min-height: 70px;
}

.week {
	color: rgb(223, 221, 223);
	background-color: #2f2b2f;
	min-width: 100px;
	min-height: 60px;
	padding: 5px;
}

.day,
.week {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.numDay {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10px;
	height: 10px;
	padding: 10px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

li:hover {
	color: red;
}

.numToday {
	color: black;
	border: 1px solid red;
	background-color: red;
}

.numAnotherMonth {
	opacity: 0.35;
	cursor: default;
}

.events {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-weight: bold;
	border-radius: 5px;
	font-size: 10px;
	padding: 2px 4px;
	width: 95%;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
